@media screen and (max-width: 1200px){
    .wrapper {
        padding-left: 20px;
    }

    .wrapper, .col, .col1 {
        width: 100%;
    }

    .two-col {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){

     .hero-head {
         background-image: none;
         min-height: 0;
        background: black;
        text-align: center;
         height: auto;
         padding-bottom: 30px;

    }

    .hero-head h1 {
        font-size: 26px;
        float: none;
        line-height: normal;
        margin: 0;
        padding-bottom: 20px;
    }

    .hero-head .goal {
        float: none;
        font-size: 17px;
        line-height: normal;
        max-width: 100%;
        padding: 0 20px;
        justify-content: center;
    }

    .hero-head:after {
        display: none;
    }

    .hero-head .main-nav ul li {
        display: none;
    }

    .main-nav-trigger {
        display: inline;
        float: right;
        padding-top: 30px;
    }

    .content-wrap {
        margin: 30px 0 0;
    }

    div.col h3 {
        font-size: 22px;
        text-align: center;
    }

    .button {
        width: calc(100% - 20px);
        border: 1px solid;
        font-weight: 600;
    }

    .content-wrap-full h3 {
        font-size: 22px;
        text-align: center;
    }

    .module-text {
        padding: 10px;
    }

    .button-list li {
        display: block;
       margin-left: 20px;
    }

    a.large-text-link {
        font-size: 20px;
        margin-left: 230px;
    }

    .sponsorship, .membership-type {
        padding-bottom: 60px;
    }

    .main-foot .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .main-foot .bottom .copyright {
        float: none;
    }

}
